<h1 class="text-center">¡Te has unido al torneo</h1>
<div class="container text-center">
	<span>Ahora el creador del torneo maneja la logica del mismo.</span>
	<h4>¡Disfruta del torneo!</h4>
	<%= link_to "Volver", tournament_index_path, class: "btn btn-primary" %>
</div