<h1 class="text-center">Esoge una opción</h1>
<div class="container">
  <br>
  <%= link_to('Crear Torneo', '/tournaments/create', { class: "btn-primary btn center-block" }) %>
  <br>
  <%= link_to('Iniciar Torneo', '/tournaments/create', { class: "btn-primary btn center-block" }) %>
</div>
