<h1 class="text-center">Torneos Activos</h1>
<br>
<div class="container">
  <div class="list-group">
    <% @tournaments.each do |tournament| %>
      <% if tournament.status == "Created" %>
        <%= link_to(tournament.name, tournament_join_path(tournament.id), {class: 'list-group-item'}) %>
      <% end %>
    <%end %>
  </div>
</div>
