<h1 class="text-center">Torneos de Fifa - Fuse Pong</h1>
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <h3 class="text-center">Empieza a jugar</h3>
    <%= link_to("Inicia Sesi贸n", new_player_session_path(), class: "btn btn-primary center-block") %>
    <br>
    <%= link_to "Inicia Sesi贸n con Facebook", player_facebook_omniauth_authorize_path, class: "btn btn-primary center-block" %>
    <!--<br>
    <%= link_to "Inicia Sesi贸n con Twitter", player_twitter_omniauth_authorize_path, class: "btn btn-primary center-block" %>-->
    <h4 class="text-center">贸</h4>
    <%= link_to("Registrate", new_player_registration_path(), class: "btn btn-primary center-block") %>
  </div>
</div>
